.system-landing {
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a0a0a;
    color: #e5e5e5;
}

.system-landing .system-window {
    width: 500px;
    padding: 30px;
    border: 2px solid #5fdaff;
    background: #121212;
    box-shadow: 0 0 15px #5fdaff;
    border-radius: 10px;
    text-align: center;
}

/* <h1> tag */
.system-landing .system-title {
    margin:  0 0 20px;
    font-size: 50px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* <p> tags */
.system-landing .system-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-spacing: 1px;
    line-height: 1.4;
}

.system-landing .system-buttons {
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
}
.system-landing .sys-btn {
    padding: 10px 25px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.12s ease-in-out, box-shadow 0.12s ease;
    outline: none;
    font-weight: bold;
}

.system-landing .yes {
    background-color: #5fff95d4;
    color: #ffffff;
}
.system-landing .yes:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(95, 255, 149, 0.15);
}

.system-landing .no {
    background-color: #ff5f5fe6;
    color: #ffffff;
}

.system-landing .no:hover {
    transform: translateY(-2px);
    box-shadow:0 6px 18px rgba(255, 95, 95, 0.15) ;
}

@media (max-width: 420px) {
    .system-landing .system-window {
        width: calc(100% - 40px);
        padding: 20px;
    }

    .system-landing .system-title{
        font-size: 30px;
    }

    .system-landing .sys-btn{
        padding: 10px 18px;
        font-size: 14px;
    }
}